/* styles.css */

* {
	font-family: Arial;
}

 h1 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body { color: #533a7b; }

h1 {
  color: #6969b3;
  font-weight: bold;
}

h2 {

}

h3 {

}
